* {
   box-sizing: border-box;
 }

 
 input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   resize: vertical;
 }
 
 label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }
 
 input[type=submit] {
   background-color: #4CAF50;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
 }

 input[type=number]{
   width: 25%;
   margin-top: 10px;
   border-radius: 4px;
   border: 1px solid #ccc;
   padding: 12px;
   resize: vertical;
 }
 
 input[type=submit]:hover {
   background-color: #45a049;
 }
 
 .container {
   border-radius: 5px;
   padding: 20px;
   background-color:darkseagreen;
 }
 
 .col-25 {
   float: left;
   width: 25%;
   margin-top: 6px;
   text-align: center;
 }
 
 .col-75 {
   width: 75%;
   margin-top: 6px;
   float: left;
 }
 
 /* Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }

 
 /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 600px) {
   .col-25, .col-75, input[type=submit] {
     width: 100%;
     margin-top: 0;
   }

   p{
     text-align: center;
   }
 }
 
 h1{
   text-align: center;
 }

 button{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }

 button:hover{
   background-color: #45a049;
 }


 p{
   clear: both;
 }

 ul{
   padding: 15px;
   margin: 10px;
 }

 ul li{
   margin-top: 5px;
 }

 footer{
   margin-top: 40px;
 }